/* 
	Layout Settings -------------
*/
/* ----------------------------- */
/* 
	Theme Settings -------------
*/
/* ----------------------------- */
/* 
	Typography -------------
*/
/* FONTS ======================= */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*======================================= */
/*                ======================= */
body {
  /*background: #e0f7ff url("../img/bg-patterna.jpg") top left repeat;
  height: 100%;*/ }

.row {
  padding: 1%;
  margin: 0; }

.container {
  max-width: 1000px;
  padding: 0; }

/* NAVEGATION ======================= */
.main-nav {
  text-align: center; }

.nav {
  display: inline-block;
  margin: 10px 0; }

.link {
  /*color: #7e8b8e;*/
  margin: 0 2px; }

.link:hover, .nav-pills li a:hover, .nav-pills li a:focus, .nav-pills li a:hover, .nav-pills li a:focus {
  background: none;
  /*color: #663399;*/ }

.link-active {
  /*color: #663399;*/
  font-weight: bold;
  margin: 0 2px; }

/*======================================= */
/* LOGO AREA ======================= */
.logo {
  float: left;
  margin: 0;
  padding: 20px 0; }

.brand {
  margin: 0;
  padding: 0; }

.fone-button {
  float: right;
  margin: 0;
  padding: 3.5% 5%;
  display: inline-block; }

.fone-banner {
  padding: 3.2% 0; }

/*======================================= */
/* JUMBOTRON ======================= */
/*.jumbotron{
  height: 330px;
  margin: 0;
}

.jumbotron .container{
  background: url("../img/feature-img-1.jpg") no-repeat 0 0 ;
  height: 329px;
}*/
/*======================================= */
/*======================================= */
/* SERVICES ======================= */
.services-ft {
  padding: 3% 0; }

.title-ft {
  float: left;
  margin: 1% 0 1.5% 1%; }

/*.services-ft hr{
  width: 80%;
  margin: 4% 0 1.5% 1%;
  float: right;
  border: solid #cecfcf 1px;
}*/
.services-list {
  list-style: none; }

.services-list li {
  margin-bottom: 12%; }

.services-list h3 {
  display: inline-block;
  margin: 1% 0; }

.services-ftices-list .glyphicon-bookmark {
  text-indent: -1.5em; }

.services-list p {
  font-size: 0.8125em;
  /* 13px; */
  margin: 1% 2% 5% 2%; }

/*======================================= */
/* REVIEWS ======================= */
.reviews-ft {
  padding: 3% 0%;
  margin-bottom: 5%; }

.reviews-ft .glyphicon-comment {
  margin: 1% 0;
  float: left; }

/*.reviews-ft hr{
  width: 80%;
  margin: 4% 0 1.5% 1%;
  float: right;
  border: solid #248cb2 1px;
}*/
.client-rw-ft {
  text-align: center;
  padding: 5%;
  background: #fff;
  border-radius: 10px;
  font-size: 0.8125em;
  /* 13px; */
  margin-top: 35px; }

.client-rw-ft h3 {
  font-family: 'Montserrat', Tahoma, sans-serif;
  font-size: 1.25em;
  /* 20px; */
  font-weight: bold;
  margin: 5% 0 0 0; }

.client-rw-ft span {
  font-weight: bold;
  display: inline-block;
  margin: 0 0 5% 0; }

.client-rw-ft p {
  padding: 2%; }

.client-rw-ft p:before, .client-rw-ft p:after {
  content: ' " ';
  font-size: 1em;
  display: inline; }

.client-image {
  display: inline-block;
  margin: -50px 0 0 0;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 100%; }

.rating {
  cursor: default; }

.rating span {
  font-size: 1.125em;
  /* 18px; */
  margin: 0; }

.rating span:nth-child(3n+0) {
  font-size: 1.325em;
  /* 21.2px; */ }

.rating span:nth-child(4n+1) {
  font-size: 0.9375em;
  /* 15px; */ }

/*======================================= */
/* FOOTER ======================= */
footer, .footer {
  padding: 2% 0;
  margin: 0;
  text-align: center; }

/*======================================= */
/* CAROUSEL ======================= */
.carousel {
  height: 405px;
  padding: 0;
  color: #fff;
  overflow: hidden; }

.carousel img {
  width: 100%; }

/*======================================= */
body {
  font-family: "Montserrat", Tahoma, sans-serif;
  font-size: 16px; }

h1, h2, h3 {
  font-family: "Lobster", Tahoma, sans-serif; }

.more-button {
  font-family: "Lobster", Tahoma, sans-serif;
  font-size: 1.125em;
  /* 18px; */ }

.title-ft {
  font-family: "Lobster", Tahoma, sans-serif;
  font-size: 2.5em;
  /* 40px; */ }

.glyphicon {
  display: inline-block;
  font-size: 1.25em;
  /* 20px; */ }
  .glyphicon.glyphicon-heart, .glyphicon.glyphicon-comment {
    margin: 1% 0;
    float: left;
    font-size: 2.1875em;
    /* 35px; */ }
  .glyphicon.glyphicon-ok, .glyphicon.glyphicon-calendar {
    font-size: 1.1em;
    /* 17.6px; */
    transition: all 0.3s ease-in;
    padding: 1%; }
  .glyphicon.glyphicon-th-list {
    font-size: 1.5em; }

.main-nav {
  font-size: 0.8125em;
  /* 13px; */ }

.brand {
  font-size: 3.125em;
  /* 50px; */ }

.footer footer {
  font-size: 0.75em;
  /* 12px; */ }

body {
  background: #F2F1E7; }

@media screen and (max-width: 678px) {
  /* Button & Components ======================= */
  .more-button {
    padding: 3% 7% !important; }

  /* End ======================= */ }
/* Navegation ======================= */
.link {
  color: #87847C !important; }
  .link:hover, .nav-pills li a:hover, .nav-pills li a:focus {
    color: #269686 !important; }

.link-active {
  color: #269686;
  font-weight: bold; }

.main-nav {
  background: #F2F1E7; }

/* End ======================= */
/* Header & Logo ======================= */
.header {
  background: #50D2C0; }
  .header .brand a {
    color: #fff;
    text-decoration: none; }
    .header .brand a:hover {
      color: #269686; }
  .header .slogan {
    color: #fff;
    font-weight: bold;
    font-transform: uppercase; }

/* End ======================= */
/* Button & Components ======================= */
.navbar-toggle span:nth-child(2) {
  padding: 30px 10px;
  color: #fff; }

.button {
  text-align: center; }

.more-button {
  background: #50D2C0;
  border-bottom: solid #31beab 4px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-transform: lowercase;
  padding: 1% 5%; }
  .more-button:hover, .more-button:active {
    color: #269686;
    border-bottom: solid #269686 4px;
    text-decoration: none !important; }

.fone-button, .fone-button:visited {
  color: #fff;
  background: #269686;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none !important; }
  .fone-button:hover, .fone-button:visited:hover {
    color: #12443d; }
  .fone-button:active, .fone-button:visited:active {
    color: #50D2C0; }

/* End ======================= */
/* Services Section ======================= */
.services-ft {
  color: #87847C;
  background: #fff; }

/* End ======================= */
/* Reviews Section ======================= */
.reviews-ft {
  color: #87847C;
  background: #F2F1E7; }
  .reviews-ft h2, .reviews-ft h3 {
    color: #7d7844; }
  .reviews-ft .reviews-ft-p {
    color: #7d7844;
    text-align: center; }

.client-rw-ft {
  border-bottom: solid rgba(137, 148, 151, 0.2) 4px; }

.rating {
  color: #50D2C0; }

/* End ======================= */
/* Footer Section ======================= */
.footer {
  color: #50d2c0;
  background: #269686; }

/* End ======================= */
.carousel {
  background: #F2F1E7;
  border-bottom: solid 75px #269686; }

@media screen and (max-width: 678px) {
  /* Navegation Section ======================= */
  nav {
    padding: 0;
    position: relative; }

  .navbar-collapse .nav {
    width: 100%; }
    .navbar-collapse .nav li {
      clear: both; }

  /* End ======================= */
  /* Services Section ======================= */
  .services-ft {
    padding: 10% 0; }
    .services-ft .title-ft {
      width: 100%;
      text-align: center;
      margin-bottom: 30px; }
    .services-ft .glyphicon-heart, .services-ft .glyphicon-list-alt {
      display: inline-block;
      font-size: 3.75em;
      margin-left: 43%;
      color: #50d2c0; }

  .services-list {
    padding: 0; }

  /* End ======================= */
  /* Reviews Section ======================= */
  .reviews-ft {
    padding: 10% 0; }
    .reviews-ft .title-ft {
      width: 100%;
      text-align: center;
      margin-bottom: 30px; }
    .reviews-ft .glyphicon-comment {
      display: inline-block;
      font-size: 3.75em;
      margin-left: 43%;
      color: #b3ad73; }

  /* End ======================= */ }
/* Pages */
/* 
	Styling Services.html
 */
.page-services .glyphicon-list-alt {
  font-size: 2.1875em;
  /* 35px; */
  margin: 1.5% 0;
  float: left; }
@media screen and (max-width: 678px) {
  .page-services .title-ft {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .page-services .glyphicon-list-alt {
    display: inline-block;
    font-size: 3.75em;
    margin-left: 43%;
    color: #87847C; } }
.page-services aside {
  color: #87847C;
  background: #F2F1E7;
  border-radius: 20px;
  padding: 3%;
  font-size: 0.8125em;
  /* 13px; */
  font-style: italic; }
  @media screen and (max-width: 678px) {
    .page-services aside {
      margin-bottom: 25px;
      padding: 5%; } }
.page-services .services-list {
  margin-bottom: 5%; }

/* 
	Styling Reviews.html
 */
.page-reviews {
  background: #F2F1E7; }
  .page-reviews .glyphicon-comment {
    color: #7d7844; }
  @media screen and (max-width: 678px) {
    .page-reviews .title-ft {
      width: 100%;
      text-align: center;
      margin-bottom: 30px; }
    .page-reviews .glyphicon-comment {
      display: inline-block;
      font-size: 3.75em;
      margin-left: 43%;
      color: #7d7844; } }
  .page-reviews aside {
    color: #87847C;
    background: #e0dec6;
    border-radius: 20px;
    padding: 2%;
    font-size: 0.8125em;
    /* 13px; */
    font-style: italic; }
    @media screen and (max-width: 678px) {
      .page-reviews aside {
        margin-bottom: 80px;
        padding: 5%; } }
  @media screen and (max-width: 678px) {
    .page-reviews .client-rw-ft {
      margin-bottom: 60px; }
      .page-reviews .client-rw-ft:last-child {
        margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
