/*                ======================= */
body{
  /*background: #e0f7ff url("../img/bg-patterna.jpg") top left repeat;
  height: 100%;*/
}



.row{
  padding: 1%;
  margin: 0;
}



.container{
  max-width: 1000px;
  padding: 0;
}


/* NAVEGATION ======================= */

.main-nav{
  text-align: center;
}

.nav{
  display: inline-block;
  margin: 10px 0;
}

.link{
  /*color: #7e8b8e;*/
  margin: 0 2px;
}
.link:hover, .nav-pills li a:hover, .nav-pills li a:focus{
  background: none;
  /*color: #663399;*/
}

.link-active{
  /*color: #663399;*/
  font-weight: bold;
  margin: 0 2px;
}
/*======================================= */

/* LOGO AREA ======================= */

.logo{
  float: left;
  margin: 0;
  padding: 20px 0;
}
.brand{
  margin: 0;
  padding: 0;
}

.fone-button{
  float: right;
  margin:  0;
  padding: 3.5% 5%;
  display: inline-block;
}

.fone-banner{
  padding: 3.2% 0;
}

/*======================================= */

/* JUMBOTRON ======================= */

/*.jumbotron{
  height: 330px;
  margin: 0;
}

.jumbotron .container{
  background: url("../img/feature-img-1.jpg") no-repeat 0 0 ;
  height: 329px;
}*/

/*======================================= */

/*======================================= */

/* SERVICES ======================= */

.services-ft{
  padding: 3% 0;
}

.title-ft{
  float: left;
  margin: 1% 0 1.5% 1%;
}

/*.services-ft hr{
  width: 80%;
  margin: 4% 0 1.5% 1%;
  float: right;
  border: solid #cecfcf 1px;
}*/

.services-list{
  list-style: none;
}

.services-list li{
  margin-bottom: 12%;
}

.services-list h3{
  
  display: inline-block;
  margin: 1% 0;
}

.services-ftices-list .glyphicon-bookmark{
  text-indent: -1.5em;
  
}

.services-list p{
  font-size: 0.8125em; /* 13px; */
  margin: 1% 2% 5% 2%;
}

/*======================================= */

/* REVIEWS ======================= */

.reviews-ft{
  padding: 3% 0%;
  margin-bottom: 5%;
}

.reviews-ft .glyphicon-comment{
  margin: 1% 0;
  float: left;
}

/*.reviews-ft hr{
  width: 80%;
  margin: 4% 0 1.5% 1%;
  float: right;
  border: solid #248cb2 1px;
}*/

.client-rw-ft{
  text-align: center;
  padding: 5%;
  background: #fff;
  border-radius: 10px;
  font-size: 0.8125em; /* 13px; */
  margin-top: 35px;
}

.client-rw-ft h3{
  font-family: 'Montserrat', Tahoma, sans-serif;
  font-size: 1.25em; /* 20px; */
  font-weight: bold;
  margin: 5% 0 0 0;
}

.client-rw-ft span{
  font-weight: bold;
  display: inline-block;
  margin: 0 0 5% 0;

}

.client-rw-ft p{
  padding: 2%;
}
.client-rw-ft p:before, .client-rw-ft p:after{
  content: ' " ';
  font-size: 1em;
  display: inline;
}

.client-image{
  display: inline-block;
  margin: -50px 0 0 0;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 100%;
}

.rating{
  cursor: default;
}

.rating span{
  font-size: 1.125em; /* 18px; */
  margin: 0;
}

.rating span:nth-child(3n+0){
  font-size: 1.325em; /* 21.2px; */
}

.rating span:nth-child(4n+1){
  font-size: 0.9375em; /* 15px; */
}

/*======================================= */

/* FOOTER ======================= */

footer, .footer{
  
  padding: 2% 0;
  margin: 0;
  text-align: center;
}

/*======================================= */

/* CAROUSEL ======================= */
.carousel{
  height: 405px;
  
  
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.carousel img{
  width:100%;
}

/*======================================= */
